{% load crispy_forms_tags %}
<div id="videoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">dodaj wideo</h4>
      </div>
      <div class="modal-body">
        <div class="row mt10">
          <div class="col-sm-12 ">
            <label class="block">Tytuł video</label>
            <input class="width100" id="title" type="text" name="" label="tytuł" require="required"
                   placeholder="Tytuł jest używany tylko w trybie edycji">
          </div>
          <div class="col-sm-12">
            <label class="block">URL </label>
            <input class="width100" id="id_video" type="text" name="" label="url" require="required" placeholder="Dodaj adres URL">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="addVideo" type="button" class="">dodaj wideo</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">anuluj</button>
      </div>
    </div>
  </div>
</div>