$brand-primary: #000;
$brand-red: #ff3c38;
$btn-default-border: #000;
$navbar-default-bg: #fff;
$navbar-default-border: #fff;
$font-family-serif: "Asar", "Times New Roman", Times, serif;
$font-family-sans-serif: "RobotoCondensed", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$grid-gutter-width: 40px;
$container-large-desktop: (1200px + $grid-gutter-width);
$container-desktop: (1000px + $grid-gutter-width);