{% extends "base.html" %}
{% block content %}
{% load thumbnail %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-5">
                <h3>lista użytkowników</h3>
            </div>
            <div class="col-sm-7">
                <a href="{% url 'user_details' %}" class="btn btn-primary">dodaj użytkownika</a>
                <button class="btn btn-primary">odblokuj zaznaczonych</button>
                <button class="btn btn-primary">zablokuj zaznaczonych</button>
            </div>
        </div>
        <hr>
        <table id="users_list">
            {% include 'administration/users_results.html' %}
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/users_list.js' %}"></script>
{% endblock %}
