{% extends "base.html" %}
{% load thumbnail %}
{% load custom_tags %}
{% block content %}

<div class="article" id="main_article">
    {% thumbnail article.cover "600x400" crop="center" as img %}
        <img  class="" src="{{ img.url }}" alt='okładka' width="100%">
    {% endthumbnail %}
    <div class="article_overlay">
        <div class="col-sm-16 col-xs-16 ">
            <h4 class="category">/{{ article.category}}</h4>
            <div class="col-md-10  title">
                <h1>{{ article.title }}</h1>
                <h4>{{ article.subtitle }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 article_body">
        {% for component in components %}
            {% if component.kind == 'text' %}
                <div class="paragraph">
                    <p>{{component.text}}</p>
                </div>
            {% elif component.kind == 'quote' %}
                <div class="quote">
                    <p>{{component.quote}}</p>
                </div>
            {% elif component.kind == 'image' %}
                <div>
                    {% thumbnail component.image "500x500" crop="center" as img %}
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
                    {% endthumbnail %}
                </div>
            {% elif component.kind == 'url' %}
                <div class="video">
                    <iframe src="{{component.url|embed_url|safe}}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-3 offset-sm-1 popular_articles">
        <div class="col-md-14 ">
        <h3>/popularne</h3>
        {% for article in popular_articles %}
            <div class="row article">
                {% thumbnail article.cover "180x100" crop="center" as img %}
                    <img  class="" src="{{ img.url }}" alt='okładka'>
                {% endthumbnail %}
                <p class="title">{{article.title}}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
