{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="row">
    <form id='article_form' action=""  method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-5">
                <h1>{%if idk %} edytuj {% else%} dodaj nowy {% endif %} artykuł</h1>
            </div>
            <div class="col-sm-7">
                <button type="button" class="pull-right">podgląd artykułu</button>
            </div>
        </div>
        <hr>
        <div class="col-lg-12 no_paddings">
            <div class="col-lg-6">
                {{ article_form.title|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ article_form.subtitle|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ article_form.section|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ article_form.tags|as_crispy_field }}
            </div>
            <div class="col-lg-2">
                {{ article_form.cover|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <hr>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" class="" data-toggle="modal" data-target="#newParagraphModal">dodaj kolumnę</button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="" data-toggle="modal" data-target="#newImageModal">dodaj obraz</button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="" data-toggle="modal" data-target="#newQuoteModal">dodaj cytat</button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="" data-toggle="modal" data-target="#newUrlModal">dodaj wideo</button>
                </div>

            </div>
        </div>
        <div class="col-sm-12 no_paddings"><hr></div>
        <div class="col-lg-6 ">
            <div class="">
                <ul id="sortable" class="articleSkeleton">
                    {% if idk %}
                        {% for component in article.components.all %}
                            <li id='{{component.id}}' class="ui-state-default component_li">
                                <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                {{component.get_kind_display}} {{component.header}}
                                <button class="pull-right editComponent" type="button" data-toggle="modal" data-target="#edit{{component.kind |capfirst}}Modal">Edytuj</button>
                                <button class="pull-right deleteComponent" type="button">Usuń</button>
                                <input class="component_idk" name="component_idk" value="{{component.id}}" type="hidden">
                                <input class="component_position" name="component_position" value="{{component.position}}" type="hidden">
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
    <hr>
    <button class="pull-right" type="submit">Zapisz artykuł</button>

    <input type="hidden" id="idk" name="variable" value="{{idk}}">
    </form>
</div>
{% include "modals/new_image_modal.html" %}
{% include "modals/new_paragraph_modal.html" %}
{% include "modals/new_quote_modal.html" %}
{% include "modals/new_url_modal.html" %}
{% include "modals/edit_image_modal.html" %}
{% include "modals/edit_paragraph_modal.html" %}
{% include "modals/edit_quote_modal.html" %}
{% include "modals/edit_url_modal.html" %}




{% endblock %}
{% block js %}
    <script src="{% static 'js/article_creator.js' %}"></script>
{% endblock %}