{% extends "base.html" %}
{% load thumbnail %}
{% load custom_tags %}
{% block content %}
<div class="row">
    <div class="row">
        <div class="col-sm-10">
            <div class="article_title">
            <div class="col-sm-1">
                <div class="title_square"></div>
            </div>
            <div class="col-sm-10">
                <h2 class="doppleganger_title">{{article.title}}</h2>
                <h2>{{article.title}}</h2>
            </div>
            <div class="col-sm-1">
                <div class="title_square"></div>
            </div>
        </div>
        <div class="col-sm-7 col-sm-offset-2">
            <div>
                {% thumbnail article.cover "710x500" crop="center" as img %}
                    <img class="centered articleImage" src="{{ img.url }}" width="100%" alt="okładka"">
                {% endthumbnail %}
            </div>
            <div class="article_subtitle">{{article.subtitle}}</div>
            {% for component in components %}
                {% if component.kind == 'text' %}
                    <div class="articleParagraph"><p>{{component.text}}</p></div>
                {% elif component.kind == 'quote' %}
                    <div>
                        <span class="starting_quotes">,,</span>
                        <p class="articleQuote">{{component.quote}}</p>
                        <span class="ending_quotes">,,</span>
                    </div>
                {% elif component.kind == 'image' %}
                    <div>
                        {% thumbnail component.image "500x500" crop="center" as img %}
                            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
                        {% endthumbnail %}
                    </div>
                {% elif component.kind == 'url' %}
                    <div class="col-centered">
                        <iframe width="560" height="315" src="{{component.url|embed_url|safe}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-2">
            {% for article in articles %}
                <a href="{% url 'article_view' idk=article.pk %}">
                    <div class="row">
                        <div class="row">
                            {% thumbnail article.cover "350x250" crop="center" as img %}
                            <img class="centered articleImage" src="{{ img.url }}" width="100%" alt='okładka'>
                            {% endthumbnail %}
                        </div>
                        <div class="row article_title">
                            <div class="main_title_square right"></div>
                            <h2 class="doppleganger_title">{{article.title}}</h2>
                            <h2>{{article.title}}</h2>
                        </div>
                        <div class="row">
                            <div class="article_subtitile">
                                {{ article.subtitle }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
