{% load custom_tags %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <div id="hamburger" class="open_sidebar" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a class="navbar-brand main_logo" href="{% url 'index' %}"></a>
    </div>
  </div>
    <div id="mySidenav" class="sidenav">
      <div class="content">
        <ul class="">
            {% for category in categories %}
                <li><a class="" href="">{{category.name}}</a></li>
            {% endfor %}
            <hr>
            {% if request.user.is_authenticated %}
                <li><a class="" href="{% url 'article_creator' %}">dodaj artykuł</a></li>
                <li><a class="" href="{% url 'article_list' %}">lista artykułów</a></li>
                <li><a class="" href="{% url 'category_list' %}">działy</a></li>
                <li><a class="" href="{% url 'users_list' %}">moderatorzy</a></li>
                <li><a class="" href="{% url 'log_out' %}">wyloguj się</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>




