{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Logowanie {% endblock %}

{% block content %}
<div class="container">
    <div class="well well-sm">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>logowanie</h1>
    {% if form.errors %}
     Nazwa użytkownika lub hasło są nieprawidłowe.
     Spróbuj ponownie.
    {% else %}
    <p>Wypełnij poniższy formularz, aby się zalogować:</p>
    {% endif %}
    <form action="." method="post">
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
        {% csrf_token %}
        <p><input type="submit" value="Zaloguj"></p>
    </form>
    </div>
    <a href="{% url 'password_reminder' %}">Zapomniałem hasła</a>
    <a href="{% url 'register' %}">Zarejestruj mnie</a>
</div>
{% endblock %}
