{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Przypomnij hasło {% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <div class="well well-sm">
    <h1>Przypomnij hasło</h1>
    {% if form.errors %}
     Nazwa użytkownika lub hasło są nieprawidłowe.
     Spróbuj ponownie.
    {% else %}
    <p>Wypełnij poniższy formularz, aby się zalogować:</p>
    {% endif %}
    <form action="." method="post">
        {{ form.email|as_crispy_field }}
        {% csrf_token %}
        <button class='btn btn-primary' type="submit" value="">Przypomnij hasło</button>
    </form>
    </div>
    <a href="{% url 'password_reminder' %}">Zapomniałem hasła</a>
    <a href="{% url 'register' %}">Zarejstruj mnie</a>
</div>
{% endblock %}